
html,body{
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: Satoshi-Regular;
    src: url('./assets/fonts/Satoshi-Regular.ttf');
}

@font-face {
    font-family: Satoshi-Light;
    src: url('./assets/fonts/Satoshi-Light.otf');
}

@font-face {
    font-family: Neue Haas Grotesk;
    src: url('./assets/fonts/NeueHaasDisplay-Black.ttf');
}

@font-face {
    font-family: Neue Light Italic;
    src: url('./assets/fonts/NeueHaasDisplay-LightItalic.woff');
}

@font-face {
    font-family: Neue Regular;
    src: url('./assets/fonts/NeueHaasDisplay-Thin.ttf');
}


  .container{
    max-width: 375px;
    margin: 0 auto;
    overflow-y: hidden;
  }

/* HEADER STYLING */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #121213;
    color: #fff;
    height: 90px;
    box-shadow: 1px 1px 20px  rgb(36, 19, 54);
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
}

.header > h1{
    font-size: 1.25rem;
    margin-left: 0.5em;
    width: 70%;
    font-family: Satoshi-Regular;
    text-align: center;
    font-weight: 1000;
    text-shadow: 2px 2px 10px #847777;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
}

.sub--header{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
}

.menu--btn{
    font-size: 16px;
    line-height: 1.1em;
    transition: all .3s;
    color: #f9f9fa;
    border: 2px solid #f1f1f1;
    width: 44px;
    height: 44px;
    cursor: pointer;
    background: url('./assets/hamburger.png');
    background-size: cover;
    margin-right: 1em;
    background-color: transparent;
    opacity: 79%;
    border-radius: .5em;
}


.hamburger-list{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    display: none;
    flex-direction: column;
    justify-content: center;
    font-family: Satoshi-Light;
    align-items: center;
    box-shadow: 1px 1px 10px #232323;
    text-align: center;
    list-style: none;
    padding-left: 0;
    background-color: #121212;
    margin-top: 5em;
    color: #fff;
    margin-bottom: -7.4em;
}


.hamburger-list > li{
    font-size: 1.5rem;
    padding: 1.25em;
    position: relative;
    z-index: 10;
}

.hamburger-list > li:first-child{
    font-size: 1.5rem;
    padding: 1.25em;
    position: relative;
    z-index: 10;
    margin-top: 2em;
}

.left , .right{
    display: none;
}


/* SECTION-ONE STYLING*/

.section-one{
    color: #fff;
    background-color: #000;
    width: 100%;
    padding-bottom: 1em;
    padding-top:7em;
}

.sub--one{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub--one > h1{
    font-family: Neue Regular;
    font-size: 1rem;
}

.section-one > h1{
    text-align: center;
    font-family: Neue Light Italic;
    font-size: 3.5rem;
    margin: 0.2em;
    position: relative;
    z-index: 5;
    text-shadow: 2px 2px 109px #edebe9;
}

.section-one > h2{
    font-family: Neue Regular;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1.5em auto;
}

.video--one{
    width: 96%;
    height: 440px;
    background-color: #888;
    margin: 0 auto;
    border-radius: 48%;
    margin-top: -2.95em;
    position: relative;
    top: 0;
    bottom: 0;
    overflow: hidden;
    margin-bottom: 1em;
    z-index: 1;
}

.video--one > video{
    min-width: 100%; 
    min-height: 100%; 
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-30%,-30%);
}


.section-one > h2{
    text-align: right;
}

.rec{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 2em;
}

.rec > h2{
    font-family: Satoshi-Light;
    font-weight: 100;
    font-size: 1rem;
    margin-left: 0.5em;
    text-transform: uppercase;
}

.rec-gif{
    background: url('./assets/gifs/record.gif');
    background-size: cover;
    height: 20px;
    width: 20px;
}

/* SECTION-TWO STYLING */

.section-two,
.sub-one-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em auto 1em auto;
    font-family: Satoshi-Regular;
}

.sub-one-two > h1{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 2.125rem;
}

.sub-one-two > h2{
    font-family: Satoshi-Regular;
    color: #818181;
    font-weight: 400;
    font-size: 1rem;
    width: 90%;
    margin: 0 auto 1em;
}

.sub-one-two > button{
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    font-family: Satoshi-Regular;
    padding: 0.875em 1.875rem;
    letter-spacing: .5px;
    text-transform: none;
    border-radius: 25px;
    font-size: 16px;
    line-height: 1.1em;
    transition: all .3s;
    color: #f9f9fa;
    border: 1px solid #000;
    cursor: pointer;
    margin-bottom: 1.5em;
}

.sub-one-two > button > a{
    text-decoration: none;
    color: #fff;
}


.pic-one{
    margin-top: 1em;
    width: 350px;
    height: 435px;
    background: url('./assets/horse-one.jpg');
    background-size: cover;
}

.pic-two{
    width: 342px;
    height: 300px;
    background: url('./assets/horse-two.jpg');
    background-size: cover;
}


/* SECTION-THREE STYLING */
.section-three,
.sub-one-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em auto 1em auto;
}

.video-two{
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: -1em;
}
.sub-one-three{
    margin-top: 0.5em;
}

.sub-one-three > h1{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 2.125rem;
    width: 90%;
    margin-top: 0;
}

.sub-one-three > h2{
    font-family: Satoshi-Regular;
    color: #818181;
    font-weight: 400;
    font-size: 1rem;
    width: 90%;
    margin: 0 auto 1em;
    margin-bottom: 0;
}

.sub-two-three > h3{
    font-family: Satoshi-Regular;
    font-weight: 500;
    color: #c4914f;
    font-size: 3.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.sub-two-three-one > h2{
    font-family: Satoshi-Regular;
    font-weight: 200;
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 0.5em;
}

.sub-two-three-one > h3{
    color: #818181;
    font-weight: 400;
    font-size: 1rem;
    font-family: Satoshi-Regular;
    width: 90%;
    margin: 0 auto 1em;
}

.sub-section-three{
    padding-bottom: 3em;
}

/* SECTION-FOUR STYLING*/

.section-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em auto 1em auto;
    background-color: #000;
    padding-bottom: 8em;
    position: relative;
    top: -17em;
    z-index: -10;
    color: #fff;
    padding-top: 17em;
    margin-bottom: -18em;
}

.fourth-section > h1{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 2.125rem;
}

.sub-section-four > h2{
    color: #818181;
    font-weight: 400;
    font-size: 1rem;
    font-family: Satoshi-Regular;
    width: 90%;
    margin: 0 auto 1em;
}

.cards{
    margin-top: -5.5em;
    padding-bottom: 3em;
}


.card-one{
    width: 333px;
    height: 323px;
    background: url('./assets/horse-begineer.jpg');
    background-size: cover;
    position: relative;
    margin-top: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-two{
    background: url('./assets/kitty-party.jpg');
    background-size: cover;
    width: 333px;
    height: 323px;
    position: relative;
    margin-top: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-three{
    background: url('./assets/pre-wedding.jpg');
    background-size: cover;
    width: 333px;
    height: 323px;
    position: relative;
    margin-top: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-card-one{
    background: #D9D9D9;
    position: absolute;
    bottom: -6em;
    width: 90%;
    height: 260px;
}


.third-card{
    margin-bottom: 0;
}

.sub-card-one > h1{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 2.125rem;
    color: #000;
}

.sub-card-one > h2{
    color: #818181;
    font-weight: 400;
    font-size: 1rem;
    font-family: Satoshi-Regular;
    width: 90%;
    margin: 0 auto 1em;
}

/* SECTION-FIVE STYLING */

.section-five{
    position: relative;
    top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em auto 1em auto;
    padding: 1em;
    padding-bottom: 17em;
}

.section-five > h3{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 1.25rem;
    color: #000;
}

.b--one{
    color: #c4914f;
    font-size: 2rem;
}

.sub-one-five > h1{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 2.125rem;
    color: #000;
}

.sub-one-five-sub{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 1rem;
    color: #818181;
    text-align: center;
}

.pic-one-five{
    width: 323px;
    height: 374px;
    background:url('./assets/forestcountry.jpg') ;
    background-size: cover;
    margin: 2.5em auto -13em;
    object-fit: cover;
}


/* CAROUSEL STYLING */
.section-six{
    background-color: #000;
    color: #fff;
    padding-bottom: 2em;
    padding-top: 2em;
}


.ruler{
    width: 94%;
}

.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em auto 1em auto;
    color: #fff;
}

.carousel > h1{
    font-size: 1.625rem;
    width: 90%;
    font-family: Satoshi-Regular;
    font-weight: 500;
}

.review{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: start;
}

.review > h2{
    font-size: 1.25rem;
    font-family: Satoshi-Regular;
    font-weight: 800;
    color: #c4914f;
}

.review-pic{
    background: url('./assets/pics/pic-one.jpg');
    background-size: cover;
    background-position: center;
    width: 27%;
    height: 88px;
    margin-bottom: 1.5em;
}

/* STAFF STYLING */

.staff{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    text-align: center;
}

.staff > h1{
    font-family: Satoshi-Regular;
    color: #fff;
    font-size: 2rem;
}

.staff-pic{
    background: url('./assets/staff/head_coach.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 333px;
    height: 323px;
    margin: 0 auto;
}

.staff-pic-two{
    background: url('./assets/staff/assistant-one.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 333px;
    height: 323px;
    margin: 0 auto;
}

.staff-pic-three{
    background: url('./assets/staff/assistant-two.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 333px;
    height: 323px;
    margin: 0 auto;
}

.staff-pic-four{
    background: url('./assets/staff/assistant-thre.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 333px;
    height: 323px;
    margin: 0 auto;
}

.staff-pic-five{
    background: url('./assets/staff/assistant-four.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 333px;
    height: 323px;
    margin: 0 auto;
}

.staff-one > h2{
    font-family: Satoshi-Regular;
    color: #fff;
}



/* LOCATION STYLING */
.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
}

.sub-location > h1{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 2.125rem;
    color: #000;
}

.sub-location,
.sub-location-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sub-location-two > button >a {
    text-decoration: none;
    color: #fff;
}

.pic-one-location{
    border-radius: 1.25em;
    border: 2px solid #232323;
    position: relative;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    width: 90%;
    height: 326px;
    margin-top: 0em;
    overflow: hidden;
}

.pic-one-location > video{
    min-width: 100%; 
    min-height: 100%; 
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-30%,-30%);
}

.sub-location-two > h2{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 2.125rem;
    color: #C4914F;
    width: 90%;
}

.sub-location-two > h3{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 1rem;
    color: #818181;
    text-align: center;
    width: 85%;
    margin-top: 0;
}

.pic-two-location{
    width: 95%;
    height: 120px;
    background: url('./assets/logo.png');
    background-size: cover;
    background-position: center;
}


.sub-location-two > button{
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    font-family: Satoshi-Regular;
    padding: 0.875em 1.875rem;
    letter-spacing: .5px;
    text-transform: none;
    border-radius: 25px;
    font-size: 16px;
    line-height: 1.1em;
    transition: all .3s;
    color: #f9f9fa;
    border: 1px solid #000;
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}


/* FOOTER STYLING */

.footer{
    background-color: #000;
    color: #fff;
    margin-top: 2.25em;
}

.footer-one,
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sub--footer--one{
    border-bottom: 1px solid #fff;
    width: 85%;
    margin-top: 1em;
}

.sub--footer--one > h1{
    font-family: Satoshi-Light;
    font-weight: 100;
}

.sub--footer--one > h2{
    font-size: 1rem;
    font-family: Satoshi-Light;
    color: #818181;
}

.sub--footer--two{
    width: 85%;
    border-bottom: 1px solid #fff;
}

.sub--footer--two > ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    font-size: 1.25rem;
    font-family: Satoshi-Light;
    color: #818181;
    line-height: 1.8;
}

.sub--footer--two > ul > li{
    list-style: none;
    margin: 0;
}

.sub--footer--three > h1{
    font-size: 1.25rem;
    font-family: Satoshi-Regular;
    font-weight: 200;
}


.sub--footer--three{
    border-bottom: 1px solid #fff;
    width: 85%;
}

.horses--box{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5em;
}


.sultan{
    width: 35%;
    height: 100px;
    background: url('./assets/horse-one.jpg');
    background-size: cover;
    border-radius: 10px;
}

.sultan-two{
    width: 35%;
    height: 100px;
    background: url('./assets/horse-two.jpg');
    background-size: cover;
    border-radius: 10px;
}

.sultan-three{
    width: 35%;
    height: 100px;
    background: url('./assets/horse-begineer.jpg');
    background-size: cover;
    border-radius: 10px;
}
.sultan-four{
    width: 35%;
    height: 100px;
    background: url('./assets/forestcountry.jpg');
    background-size: cover;
    border-radius: 10px;
}


.footer > h1{
    font-size: 1rem;
    font-family: Satoshi-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
}

.footer > h2{
    font-size: 0.65rem;
    color: #555;
    font-family: Satoshi-Regular;
}

/* MEDIA QUERIES */


@media (min-width:390px) {
    .container{
        max-width: 100%;
    }
}

@media (min-width:424px) {
    .container{
        max-width: 100%;
    }

    .header{
        left: 0;
    }

    .section-one{
        max-width: 100%;
        width: 100%;
    }

    .pic-one-location > video{
        left: 30%;
    }
}


@media (min-width:766px) {
    .container{
        max-width: 600px;
    }
}


@media (min-width:1023px) {

        /* width */
    ::-webkit-scrollbar {
        width: 15px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .container{
       max-width: 1024px;
    }
    /* HEADER STYLING */

    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .left , .right{
        display: flex;
    }

    a{
        cursor: pointer;
    }
    

    .left{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        left: 5.5em;
    }

    .left > button{
        font-size: 1rem;
        color: #fff;
        background: transparent;
        font-family: Satoshi-Regular;
        padding: 0.875em 1.875rem;
        letter-spacing: .5px;
        text-transform: none;
        border-radius: 25px;
        font-size: 16px;
        line-height: 1.1em;
        transition: all .3s;
        color: #f9f9fa;
        border: 1px solid #fff;
        cursor: pointer;
        margin-left: 1em;
    }

    .left > button > a{
        text-decoration: none;
        color: #fff;
    }

    .header > h1{
        position: relative;
        left: 3.125em;
        right: auto;
    }

    .right>ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 1.25rem;
        margin-right: 2em;
        font-family: Satoshi-Light;
    }

    li{
        margin-right: 1em;
    }

    .sub--header{
        display: none;
    }



    /* SECTION-ONE STYLING*/

    .sub--one > h1{
        font-size: 1.25rem;
    }

    .section-one > h1{
        font-size: 8rem;
        margin: 0.2em;
        position: relative;
        z-index: 5;
    }

    .section-one > h2{
        font-family: Neue Regular;
        font-size: 1.25rem;
        text-transform: uppercase;
        margin: 1.5em auto;
    }

    .video--one{
        width: 70%;
        height: 700px;
        margin-top: -4.95em;
    }

    .rec > h2{
        font-size: 1.25rem;
    }

    .rec-gif{
        height: 30px;
        width: 30px;
    }

    /* SECTION-TWO STYLING */
    .section-two{
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
        padding: 2em;
    }

    .sub-one-two{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        text-align: start;
        margin: 0 auto 1em 2.5em;
        line-height: 1.5;
        font-family: Satoshi-Regular;
    }

    .sub-one-two > h1{
        font-family: Satoshi-Regular;
        font-weight: 800;
        font-size: 3rem;
        margin-top: 0.2em;
        margin-bottom: 0;
    }

    .sub-one-two > h2{
        font-family: Satoshi-Regular;
        color: #818181;
        font-weight: 400;
        font-size: 1rem;
        width: 90%;
        margin: 1em 0 2em 0;
        padding: 0;
    }

    .sub-one-two > button{
        font-size: 1rem;
        background-color: #000;
        color: #fff;
        font-family: Satoshi-Regular;
        padding: 0.875em 1.875rem;
        letter-spacing: .5px;
        text-transform: none;
        border-radius: 25px;
        font-size: 16px;
        line-height: 1.1em;
        transition: all .3s;
        color: #f9f9fa;
        border: 1px solid #000;
        cursor: pointer;
        margin-bottom: 2.5em;
    }


    .pic-one{
        margin-top: 1em;
        width: 60%;
        height: 500px;
        background: url('./assets/horse-one.jpg');
        background-size: cover;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transform-style: preserve-3d;
    }

    .pic-two{
        width: 85%;
        height: 300px;
        background: url('./assets/horse-two.jpg');
        background-size: cover;
    }

    
/* SECTION-THREE STYLING */
.section-three,
.sub-one-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin: 1em auto 1em auto;
}


.video-two{
    width: 94%;
    height: 450px;
}

.video-two > video{
    width: 100%;
    height: 450px;
    object-fit: cover;
}


.video--one > video{
    min-width: 100%; 
    min-height: 100%; 
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translate(-10%,-30%);
}


.sub-one-three{
    margin-top: 0.5em;
    width: 60%;
}

.sub-one-three > h1{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 3rem;
    width: 90%;
    margin-top: 0;
    margin-bottom: 0.4em;
}

.sub-one-three > h2{
    font-family: Satoshi-Regular;
    color: #818181;
    font-weight: 400;
    font-size: 1.25rem;
    width: 90%;
    margin: 0 auto 1em;
    margin-bottom: 0;
}

.sub-two-three{
    display: flex;
    align-items: center;

}

.sub-two-three > h3{
    font-family: Satoshi-Regular;
    font-weight: 500;
    color: #c4914f;
    font-size: 4.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.sub-two-three-one{
    text-align: center;
}

.sub-two-three-one > h2{
    font-family: Satoshi-Regular;
    font-weight: 200;
    font-size: 3rem;
    color: #000;
    margin-bottom: 0.5em;
}

.sub-two-three-one > h3{
    color: #818181;
    font-weight: 400;
    font-size: 1rem;
    font-family: Satoshi-Regular;
    width: 90%;
    margin: 0 auto 1em;
}

.sub-section-three{
    padding-bottom: 3em;
    display: flex;
    align-items: start;
    justify-content: space-around;
}


/* SECTION-FOUR STYLING*/

.section-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em auto 1em auto;
    background-color: #000;
    padding-bottom: 8em;
    position: relative;
    top: -17em;
    z-index: -10;
    color: #fff;
    line-height: 1.7;
    padding-top: 17em;
    margin-bottom: -17em;
}

.fourth-section{
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 1.75em;
    text-align: start;
}

.fourth-section > h1{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 3rem;
    margin-top: 0;
}

.sub-section-four{
    width: 50%;
}

.sub-section-four > h2{
    color: #818181;
    font-weight: 400;
    font-size: 1rem;
    font-family: Satoshi-Regular;
    width: 90%;
    margin: 0 auto 1em;
}

.cards{
    margin-top: -5.5em;
    padding-bottom: 3em;
    display: flex;
}


.card-one{
    width: 320px;
    height: 323px;
    background: url('./assets/horse-begineer.jpg');
    background-size: cover;
    position: relative;
    margin-top: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
}

.card-two{
    background: url('./assets/kitty-party.jpg');
    background-size: cover;
    width: 320px;
    height: 323px;
    position: relative;
    margin-top: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
}

.card-three{
    background: url('./assets/pre-wedding.jpg');
    background-size: cover;
    background-position: end;
    width: 320px;
    height: 323px;
    position: relative;
    margin-top: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1em;
}


.sub-card-one{
    position: absolute;
    bottom: -6em;
    width: 90%;
}

.sub-card-one > h1{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 2.125rem;
    color: #000;
}

.sub-card-one > h2{
    color: #818181;
    font-weight: 400;
    font-size: 1rem;
    font-family: Satoshi-Regular;
    width: 90%;
    margin: 0 auto 1em;
}

/* SECTION-FIVE STYLING */

.section-five{
    position: relative;
    top: 1em;
    z-index: 40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em auto 1em auto;
    padding: 1em;
    padding-bottom: 25em;
    padding-top: 5em;
}

.section-five > h3{
    width: 300px;
    margin: 0 auto;
    text-align: start;
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 1.5rem;
    color: #000;
    margin-left: 1.75em;
    width: 70%;
}

.b--one{
    color: #c4914f;
    font-size: 4rem;
}

.sub-one-five{
    display: flex;
}

.sub-one-five > h1{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 3rem;
    color: #000;
    width: 50%;
}

.sub-one-five-sub{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 1.25rem;
    color: #818181;
    text-align: center;
}

.pic-one-five{
    width: 80%;
    height: 450px;
    background:url('./assets/forestcountry.jpg') ;
    background-size: cover;
    margin: 3em auto -13em;
}

/* CAROUSEL STYLING */
.section-six{
    background-color: #000;
    color: #fff;
    padding-bottom: 4em;
    padding-top: 4em;
}


.ruler{
    width: 94%;
}

.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    margin: 1em auto 1em auto;
    color: #fff;
}

.carousel > h1{
    font-size: 2.125rem;
    width: 90%;
    font-family: Satoshi-Regular;
    font-weight: 500;
}

.review{
    display: flex;
    width: 90%;
    justify-content: start;
    align-items: start;
    margin-left: 3em;
}

.review > h2{
    font-size: 1.375rem;
    font-family: Satoshi-Regular;
    font-weight: 800;
    color: #c4914f;
}

.review-pic{
    background: url('./assets/pics/pic-one.jpg');
    background-size: cover;
    background-position: center;
    width: 75px;
    height: 75px;
    margin-bottom: 1.5em;
    margin-right: 1em;
}

    /* TRAINERS */

    .staff{
        margin: 0em 0 2em 0;
    }

    .coaches{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 90%;
    }


/* LOCATION STYLING */
.location{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
}

.sub-location > h1{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 3rem;
    color: #000;
}

.sub-location,
.sub-location-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sub-location-two{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    margin-left: 2em;
}

.pic-one-location{
    border-radius: 1.25em;
    border: 2px solid #232323;
    position: relative;
    top: 0;
    bottom: 0;
    width: 95%;
    margin: 0 auto;
    height: 500px; 
    margin-top: 0em;
    overflow: hidden;
}

.pic-one-location > video{
    min-width: 100%; 
    min-height: 100%; 
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%,-30%);
}

.sub-location-two > h2{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 3rem;
    color: #C4914F;
    width: 90%;
    margin-top: 0;
}

.sub-location-two > h3{
    font-family: Satoshi-Regular;
    font-weight: 800;
    font-size: 1.125rem;
    color: #818181;
    text-align: start;
    width: 85%;
    margin-top: 0;
}

.pic-two-location{
    height: 150px;
    width: 85%;
    background: url('./assets/logo.png');
    background-position: center;
    background-size: cover;
    object-fit: cover;
}


.sub-location-two > button{
    font-size: 1.25rem;
    background-color: #000;
    color: #fff;
    font-family: Satoshi-Regular;
    padding: 0.875em 1.875rem;
    letter-spacing: .5px;
    text-transform: none;
    border-radius: 25px;
    font-size: 16px;
    line-height: 1.1em;
    transition: all .3s;
    color: #f9f9fa;
    border: 1px solid #000;
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 3.5em;
}

.sub-location-two > button > a{
    text-decoration: none;
    color: #fff;
}

/* FOOTER STYLING */

.footer{
    background-color: #000;
    color: #fff;
    margin-top: 2.25em;
}

.footer-one,
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-one{
    flex-direction: row;
    align-items: center;
    border: 2px solid white;
}

.sub--footer--one{
    border-right: 1px solid #fff;
    border-bottom: none;
    width: 85%;
    margin-top: 1em;
    height: 200px;
}

.sub--footer--one > h1{
    font-family: Satoshi-Light;
    font-weight: 100;
}

.sub--footer--one > h2{
    font-size: 1rem;
    font-family: Satoshi-Light;
    color: #818181;
}

.sub--footer--two{
    width: 85%;
    border-right: 1px solid #fff;
    border-bottom: none;
    height: 200px;
}

.sub--footer--two > ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    font-size: 1.25rem;
    font-family: Satoshi-Light;
    color: #818181;
    line-height: 1.8;
}

.sub--footer--two > ul > li{
    list-style: none;
    margin: 0;
}

.sub--footer--three > h1{
    font-size: 1.25rem;
    font-family: Satoshi-Regular;
    font-weight: 200;
}


.sub--footer--three{
    width: 85%;
    border-bottom: none;
}

.horses--box{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5em;
}

.sultan{
    width: 35%;
    height: 100px;
    background: url('./assets/horse-one.jpg');
    background-size: cover;
    border-radius: 10px;
}

.sultan-two{
    width: 35%;
    height: 100px;
    background: url('./assets/horse-two.jpg');
    background-size: cover;
    border-radius: 10px;
}

.sultan-three{
    width: 35%;
    height: 100px;
    background: url('./assets/horse-begineer.jpg');
    background-size: cover;
    border-radius: 10px;
}
.sultan-four{
    width: 35%;
    height: 100px;
    background: url('./assets/forestcountry.jpg');
    background-size: cover;
    border-radius: 10px;
}

.footer > h1{
    font-size: 1rem;
    font-family: Satoshi-Regular;
    font-weight: 400;
    color: rgba(255, 255, 255, .7);
}

.footer > h2{
    font-size: 0.65rem;
    color: #555;
    font-family: Satoshi-Regular;
}

}

@media (min-width:1260px) {
    .container{
        max-width: 100%;
    }

    .section-two,
    .section-three,
    .section-five,
    .location{
        max-width: 1024px;
        margin: 0 auto
    }

    .video-two{
        width: 100%;
        object-fit: cover;
    }


    .location{
        margin-top: 2em;
    }

    .sub--footer--one{
        text-align: start;
    }

    .section-six{
        margin-bottom: 4em;
    }

    .footer-one{
        display: flex;
        width: 100%;
        justify-content: start;
        max-width: 1260px;
        margin: 0 0 0 0;
        border: none;
        border-bottom: 2px solid #fff;
        
    }

    
    .video--one{
        width: 70%;
        height: 900px;
        margin-top: -4.95em;
    }


}